/* Reset Básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Segoe UI", Arial, sans-serif;
    background: #efff;
    color: #200030;
}

/* Estilo para o cabeçalho */
header {
    background: #091120; /* Escuro */
    color: #efff;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 12px rgba(45,0,54,0.10);
    border-bottom: 4px solid #ff9100; /* Laranja */
}

/* Container do cabeçalho */
header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px; /* Espaço entre a logo e o texto */
}

/* Estilo para a logo */
.logo {
    width: 80px; /* Ajuste o tamanho da logo */
    height: auto;
}

header h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    letter-spacing: 2px;
    font-weight: 700;
}

/* Estilo para o rodapé */
footer {
    background: #200030; /* Escuro, semelhante ao cabeçalho */
    color: #efff;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
    font-size: 0.9rem;
    border-top: 4px solid #ff9100; /* Laranja */
}

nav {
    margin-top: 10px;
}

nav a {
    color: #efff;
    text-decoration: none;
    margin: 0 15px;
    font-size: 1.1rem;
    font-weight: 500;
    padding: 6px 14px;
    border-radius: 4px;
    transition: background 0.2s, color 0.2s;
}

nav a:hover {
    background: #ff9100;
    color: #200030;
}

main {
    max-width: 750px;
    margin: 40px auto;
    background: #efff;
    border-radius: 10px;
    box-shadow: 0 6px 30px rgba(45,0,54,0.10);
    padding: 30px;
    border: 2px solid #200030; /* Escuro */
}

#home h2 {
    font-size: 2.2rem;
    color: #ff9100; /* Laranja */
    margin-bottom: 10px;
    text-align: center;
    font-weight: 700;
}

#home p {
    font-size: 1.15rem;
    margin-bottom: 22px;
    text-align: center;
    color: #200030;
}

.opcoes-home {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 22px;
}

.opcoes-home a.button {
    background: #ff9100; /* Laranja */
    color: #efff;
    border: none;
    border-radius: 10px;
    padding: 14px 20px;
    font-size: 1.0rem;
    font-weight: 600;
    cursor: pointer;
    transition: background 0.2s, transform 0.2s, box-shadow 0.2s;
    box-shadow: 0 2px 12px rgba(45,0,54,0.10);
}

.opcoes-home a.button:hover {
    background: #200030; /* Escuro */
    color: #ff9100;
    transform: translateY(-3px) scale(1.07);
    box-shadow: 0 4px 18px rgba(45,0,54,0.15);
}

@media (max-width: 600px) {
    main {
        padding: 10px 0px;
    }

    .opcoes-home {
        flex-direction: column;
        gap: 10px;
    }

    nav a {
        margin: 0 8px;
        font-size: 1rem;
    }
}
